@media only screen and (min-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 40px 1fr auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        grid-column: 3/4;
        display: flex;
    }

    .navigation a {
        border-bottom: none;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}