@media only screen and (min-width: 600px) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px 1fr auto;
    }

    .hamburger {
        display: none;
    }

    header.navigation {
        display: flex;
        border-bottom: solid 1px var(--dun);
    }

    header .navigation {
        display: flex;
    }

    .navigation a {
        border-bottom: none;
    }

    main {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .about {
        grid-column: 1/2;
    }

    .me {
        grid-column: 2/3;
    }

    .courses {
        grid-column: 1/3;
    }

    .courses ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}