/** --deep-blue: #1E3A8A;
    --warm-orange: #F59E0B;
    --beige: #FAF3E0;
    --emarald-green: #10B981;
    --burgundy: #7F1D1D;
    --teal: #0D9488;
    --soft-yellow: #FDE68A;
    --sky-blue: #38BDF8;
**/

:root {
    --hunter-green: #3e5641ff;
    --warm-orange: #F59E0B;
    --reddish-brown: #a24936ff;
    --spicy-paprika: #d36135ff;
    --graphite: #282b28ff;
    --muted-teal: #83bca9ff;
    --white: #fff;
}

body {
    font-family: "Merriweather Sans", sans-serif;
    color: var(--graphite);
    margin: 0px;
}

/********** HEADER **********/


header h1 {
    font-size: 20px;
}

header {
    display: grid;
    grid-template-columns: 55px auto 32px;
    padding: 10px;
    background-color: var(--graphite);
    color: var(--white);
}


/********** HAMBURGER MENU **********/

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
}

.hamburger {
    border: none;
    background: none;
    color: var(--white);
    font-size: 30px;
}


/********** NAVIGATION **********/

header nav {
    display: none;
    color: var(--white);
}

#nav-bar.show {
    display: block;
    grid-column: 1/4;
}

#nav-bar a {
    display: block;
    color: var(--white);
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
}

#nav-bar a:hover {
    background-color: var(--warm-orange);
    color: var(--graphite);
}

.current {
    background-color: var(--hunter-green);
}

/********** MAIN **********/


.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(5, 1fr);
    color: var(--white);
}

.hero img {
    display: block;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/6;
    max-height: 500px;
}

.hero h1 {
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 0px;
    padding: 10px;
    text-shadow: 4px 4px 4px var(--graphite);
    font-size: 20px;
}

.hero p {
    grid-column: 1/3;
    grid-row: 4/5;
    padding-left: 10px;
    text-shadow: 4px 4px 4px var(--graphite);
    font-size: 14px;
}

.products,
.purpose,
.contact {
    padding: 10px;
}

.btn, .produce-card button, #close {
    text-decoration: none;
    background-color: var(--reddish-brown);
    padding: 10px;
    color: var(--white);
    border-radius: 5px;
}

.c1 {
    font-size: 13px;
    background-color: rgba(128, 128, 128, 0.256);
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 10px;
}


/********** FORM **********/

form {
    width: 90%;
    margin: 0 auto;
    padding: 20px 20px;
    color: var(--graphite);
    background-color: var(--muted-teal);
    margin-bottom: 20px;
}

form textarea,
form input,
form select {
    width: 95%;
    padding: 5px;
    margin: 10px 0px;
}

input[type="submit"] {
    background-color: var(--reddish-brown);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}


.container {
    margin: 100px 10px;
}


/********** MODAL **********/

#produce-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.produce-card {
    margin: 10px;
    padding: 10px;
    color: var(--hunter-green);
}

.produce-card img {
    width: 100%;
}




.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    color: var(--hunter-green);
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position: relative;
    z-index: 1001;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    display: none;
}

.modal.show .close {
    display: block;
}



.about {
    padding: 10px 10px;
}


/********** FOOTER **********/

footer {
    background-color: var(--graphite);
    color: var(--white);
    padding: 10px;
    font-size: 11px;
}

.socials {
    display: flex;
}

.socials nav {
    padding: 5px;
    justify-self: center;
}