@media only screen and (min-width: 640px) {
    .hamburger {
        display: none;
    }

    #nav-bar, #nav-bar.show {
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-column: 4/5;
        max-width: 500px;
        margin-left: 0px;
    }

    header {
        display: grid;
        grid-template-columns: 55px 1fr auto;
    }

    .ycard {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }

    .c1 {
        margin: 5px;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}